.slider {
	width: 90%;
	margin: 30px auto;
	border-radius: 25px;
	overflow: hidden;
	position: relative;

	.slides {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 415px;
		background-size: cover;
		border-radius: 25px;

		@media screen and (max-width: 667px) {
			height: 225px;
			background-position: 50%;
		}
	}

	.arrowsBtn {
		background: none;
		border: none;
		margin: 0 20px;

		@media screen and (max-width: 667px) {
			margin: 0;
		}

		.chevron {
			width: 100px;
			height: auto;

			@media screen and (max-width: 667px) {
				width: 30px;
			}

			&.left {
				transform: rotate(180deg);
			}
		}
	}
}
