.dropDownsList {
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	flex-wrap: wrap;
	width: 90%;

	li {
		width: 100%;
		list-style: none;
		flex: 1;
	}
}

@media screen and (min-width: 667px) {
	.flexDirection {
		&_row {
			flex-direction: row;
		}

		&_column {
			flex-direction: column;
		}
	}

	.alignItems {
		&_start {
			align-items: flex-start;
		}

		&_center {
			align-items: center;
		}
	}
}
