.thumbsList {
	width: 90%;
	margin: 40px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #f6f6f6;
	border-radius: 25px;
	padding: 50px;
	gap: 60px;

	@media screen and (max-width: 667px) {
		flex-direction: column;
		padding: 0;
		gap: 30px;
		background: none;
	}
}
